services:
  api:
    build:
      context: ./app/api
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - MONGO_URI=mongodb://${DB_USER}:${DB_PASSWORD}@db:27017/?authSource=admin
      - JWT_SECRET=${JWT_SECRET}
    networks:
      - paperless-network

  web:
    build:
      context: ./app/web
      dockerfile: Dockerfile
    ports:
      - "8081:80"
    environment:
      - REACT_APP_API_URL=http://localhost:8080 # 브라우저에서 접근 시
    depends_on:
      - api
    networks:
      - paperless-network

  db:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${DB_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${DB_PASSWORD}
    networks:
      - paperless-network

networks:
  paperless-network:
    driver: bridge